# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\TH05245_18122025\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
